body {
    margin: 0;
}

header {
    border: 1px solid;
    padding: 100px;
}

.search {
    width: 800px;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#inputID {
    height: 45px;
    width: 650px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#submit {
    height: 51px;
    width: 150px;
    color: white;
    font-size: 18px;
    /* border-color: #33cc33; */
    border-left: none;
    background-color: #33cc33;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#submit:hover {
    cursor: pointer;
}

#inputID:focus {
    outline: none;
}

input[type="text"] {
    font-size: 25px;
    border-right: none;
    padding-left: 10px;
}

#main-columns {
    display: flex;
    justify-content: space-evenly;
}

.column {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 30px #ccc;
    background-color: #e6e6e6;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.title {
    background-color: #e6e6e6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.titlediv {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #e6e6e6;
}

#breweries, #events {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: auto;
    background-color: #e6e6e6;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bar {
    padding: 30px !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.bar, .event {
    width: 80%;
    background-color: lightblue;
    margin-top: 10px;
    height: 375px;
    padding: 0px;
    text-align: center;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#events img {
    width: 100%;
    height: 50%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 20px;
}